<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Food Name</th>
      <th>Days To Exp</th>
      <th>Remove</th>
      <th>Move To Grocery List</th>
    </tr>
  </thead>

  {{#each items as |item|}}

    <tbody data-id="{{item.id}}">
      <td data-id="{{item.id}}">{{item.food_name}}</td>
      <!-- <td data-id="{{item.id}}">{{item.exp_date}}</td> -->
      <td data-id="{{item.id}}">{{item.days_to_exp}}</td>
      <td><button type="button" data-id="{{item.id}}" class="remove-item">X</button></td>
      <td><button type="button" data-id="{{item.id}}" class="move-to-grocery-list">X</button></td>
    </tbody>

  {{/each}}

</table>
