<table class="table table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Days Left</th>
      <th>Delete</th>
      <th>Buy Again</th>
    </tr>
  </thead>


  <tbody>
    {{#each items as |item|}}
      <tr data-id="{{item.id}}">
        <td>{{item.food_name}}</td>
        <td>{{item.days_to_exp}}</td>
        <td><button type="button" class="remove-item btn btn-default" data-id="{{item.id}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
        <td><button type="button" class="move-to-grocery-list btn btn-default" data-id="{{item.id}}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button></td>
      </tr>
  </tbody>

  {{/each}}

</table>
