<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Item ID</th>
      <th>Food Name</th>
      <th>Days To Exp</th>
      <th>Remove</th>
      <th>Move To Grocery List</th>
    </tr>
  </thead>


  <tbody>
    <!-- <form> -->
    <!-- <fieldset> -->
    {{#each items as |item|}}
      <tr data-id="{{item.id}}">
        <td>{{item.id}}</td>
        <td>{{item.food_name}}</td>
        <td>{{item.days_to_exp}}</td>
        <td><button type="button" class="remove-item pure-button" data-id="{{item.id}}">X</button></td>
        <td><button type="button" class="move-to-grocery-list">X</button></td>
      </tr>
      <!-- </fieldset> -->
      <!-- </form> -->
  </tbody>

  {{/each}}

</table>
